[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/LeonardoGentile/powerline-shell.git
	branch = master
[submodule "z"]
	path = z
	url = git@github.com:LeonardoGentile/z.git
[submodule "mysql-colorize.bash"]
	path = mysql-colorize.bash
	url = git@github.com:LeonardoGentile/mysql-colorize.bash.git
[submodule "bash-powerline"]
	path = bash-powerline
	url = git@github.com:LeonardoGentile/bash-powerline.git
