<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fds</string>
				<string>FDS</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Famicom Disk System ROM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CART</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.fds</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nds</string>
				<string>NDS</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nintendo DS ROM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CART</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.nds</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vb</string>
				<string>VB</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Virtual Boy ROM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CART</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.vb</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gb</string>
				<string>GB</string>
				<string>gbm</string>
				<string>GBM</string>
				<string>gbx</string>
				<string>GBX</string>
				<string>gbc</string>
				<string>GBC</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Gameboy ROM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CART</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.gbx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gba</string>
				<string>GBA</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Gameboy Advance ROM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CART</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.gba</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sfc</string>
				<string>smc</string>
				<string>swc</string>
				<string>fig</string>
				<string>078</string>
				<string>SFC</string>
				<string>SMC</string>
				<string>SWC</string>
				<string>FIG</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Super Famicom ROM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CART</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.sfc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nes</string>
				<string>NES</string>
				<string>fam</string>
				<string>FAM</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Famicom ROM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CART</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.nes</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>n64</string>
				<string>N64</string>
				<string>z64</string>
				<string>Z64</string>
				<string>v64</string>
				<string>V64</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Nintendo64 ROM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CART</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.n64</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>QuickROM</string>
	<key>CFBundleIdentifier</key>
	<string>com.eludevisibility.QuickROM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QuickROM</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>ELUD</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>57E37AFA-852E-4117-B23B-99F444BBFFAD</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>57E37AFA-852E-4117-B23B-99F444BBFFAD</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLPreviewWidth</key>
	<real>800</real>
	<key>QLSupportsConcurrentRequests</key>
	<false/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Super Famicom ROM</string>
			<key>UTTypeIdentifier</key>
			<string>public.sfc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sfc</string>
					<string>smc</string>
					<string>swc</string>
					<string>fig</string>
					<string>078</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Gameboy ROM</string>
			<key>UTTypeIdentifier</key>
			<string>public.gbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gb</string>
					<string>GB</string>
					<string>gbm</string>
					<string>GBM</string>
					<string>gbx</string>
					<string>GBX</string>
					<string>gbc</string>
					<string>GBC</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Gameboy Advance ROM</string>
			<key>UTTypeIdentifier</key>
			<string>public.gba</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gba</string>
					<string>GBA</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Famicom ROM</string>
			<key>UTTypeIdentifier</key>
			<string>public.nes</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nes</string>
					<string>NES</string>
					<string>fam</string>
					<string>FAM</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo 64 ROM</string>
			<key>UTTypeIdentifier</key>
			<string>public.n64</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>n64</string>
					<string>N64</string>
					<string>z64</string>
					<string>Z64</string>
					<string>v64</string>
					<string>V64</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Virtual Boy ROM</string>
			<key>UTTypeIdentifier</key>
			<string>public.vb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vb</string>
					<string>VB</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Nintendo DS ROM</string>
			<key>UTTypeIdentifier</key>
			<string>public.nds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nds</string>
					<string>NDS</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Famicom Disk System ROM</string>
			<key>UTTypeIdentifier</key>
			<string>public.fds</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fds</string>
					<string>FDS</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
